/*
body{
background-color: rgba(73,155,234,1);
background: @include filter-gradient(#499bea, #08325c, horizontal);
background: @include background-image(radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(8,50,92,1) 69%, rgba(8,50,92,1) 100%));
}*/

body{
/*    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2f2727));*/
    background: -webkit-radial-gradient(circle, #1a82f7, #2f2727);
    height: 600px;
}
.container{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 2em;
}
.out{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #f63;
    background-color: #fff;
}
.myBtn{
    padding: 20px 20px;
    font-size: 40px;
    margin-bottom: 20px;
}
.pass{
    font-size: 30px;
    width: 390px;
    float: left;
    color: #fff;
    margin-left: 0;
    padding: 20px;
    background-color: #f63;
}
.in{
    margin: 0;
    padding: 20px;
    float: right;
    text-align: center;
    background-color: #fff;
    color: #f63;
    
}




















