*{
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

h1{
    margin: 40px;
}
#userinput{
    width: 350px;
    height: 35px;
    display: inline-block;
}
.btn{
    margin: 10px 5px;
}
.form-control{
    margin: 0 auto;
}
ul{
    list-style-type: none;
    margin-left: 55px;
}
















